<div class="row col-md-12 d-flex justify-content-center" style="margin-top: 100px;">
  <div class="col-md-2">
    Özgün Değil
  </div>
  <div class="col-md-8 row">
    <div *ngFor="let item of checkList; let j = index" class="form-check col-md-1" style="margin-left: 30px;">
      <label class="form-check-label">
        {{j+1}}
      </label>
      <input class="form-check-input" type="checkbox" value="{{item.id}}" [checked]="item.isSelected"
        (change)="isAllSelected(item)" />
    </div>
  </div>
  <div class="col-md-2">
    Özgün
  </div>
</div>
